variables:
  BASE_LAYER: bookworm-slim
  PYTHON_VERSION: "3.12"
  UV_CACHE_DIR: .uv-cache
  UV_LINK_MODE: copy

cache:
  - key:
      files:
        - uv.lock
    paths:
      - $UV_CACHE_DIR

stages:
  - test

pytest:
  image: ghcr.io/astral-sh/uv:python$PYTHON_VERSION-$BASE_LAYER
  stage: test
  script:
    - uv run pytest
    - uv run pre-commit run --all-files
    - uv cache prune --ci
