image: python:3.12
variables:
  UV_CACHE_DIR: "$CI_PROJECT_DIR/.cache/uv/"

cache:
  paths:
    - .cache/uv/
    - .venv/

before_script:
  - pip install --root-user-action=ignore uv==$UV_INSTALL_VERSION
  # - uv python install
  - uv sync --locked

stages:
- test

pytest:
  stage: test
  script:
    - uv run pytest
    - uv run pre-commit run --all-files
